Django==1.5
Jinja2==2.7.3
MarkupSafe==0.23
Pillow==2.6.0
PyYAML==3.11
amqp==1.4.6
ansible==1.7.2
anyjson==0.3.3
billiard==3.3.0.18
boto==2.32.1
celery==3.1.16
django-celery==3.1.16
django-storages==1.1.8
ecdsa==0.11
kombu==3.0.23
more-itertools==2.2
paramiko==1.15.1
psycopg2==2.5.4
pycrypto==2.6.1
pytz==2014.7
uWSGI==2.0.7
wsgiref==0.1.2
